<div class="containerfluid vh-80"> 
    <div class="row" style="height: inherit;">
      <div class="col.12  justify-content-center align-items-start px-4" id="bg" >
          
      </div>
      <div class="col.12 col-sm-6 d-flex flex-column justify-content-center align-items-center ">
    
      <div class="card">
        <div class="card-header">
          <h3 class="text-center m-0">Create a client</h3>
    <p>Please fill in the form to create a client</p>
        </div>
          <div class="card">
            <div class="card-body">
              
                <form>
                    <div class="form-group col-12 mt-2">
                        <label for="Name">Name</label>
                        <input type="Name" class="form-control" autocomplete="off" id="Name" placeholder="enter Name">
                      </div>
                    <div class="form-group col-12 mt-2">
                      <label for="email">Email </label>
                      <input type="email" class="form-control" id="email" autocomplete="off" aria-describedby="email" placeholder="eg; abc@example.com"required>
                      <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group col-12 mt-2">
                      <label for="Password">Password</label>
                      <input type="password" class="form-control" autocomplete="off" id="password" placeholder="enter password">
                    </div>
                    <div class="form-group col-12 mt-2">
                        <label for="cnf-Password">Cnf-Password</label>
                        <input type="cnf-password" class="form-control" autocomplete="off" id="cnf-password" placeholder="enter  password">
                      </div>
                    
                    <button type="submit" class="btn btn-dark">Register</button>
                  </form>
            
            </div>
        </div>
      </div>
    </div>
       </div>
        </div>
        
    