
<div class="containerfluid vh-50"> 
    <div class="row" style="height: inherit;">
      <div class="col.12  justify-content-center align-items-start px-4" id="bg" >
          
      </div>
      <div class="col.12 col-sm-6 d-flex flex-column justify-content-center align-items-center ">
    
      <div class="card">
        <div class="card-header">
          <h3 class="text-center m-0">Client-Meeting Schedule</h3>
    
        </div>
          <div class="card">
            <div class="card-body">
              
                <form>
                    <div class="form-group">
                        <label for="Meeting Topic">Meeting Topic</label>
                        <input type="Meeting Topic" class="form-control" autocomplete="off" id="Meeting Topic" placeholder="enter Meeting Topic">
                      </div>
                    <div class="form-group">
                      <label for="number of people">Number of people</label>
                      <input type="number of people" class="form-control" id="number of people" autocomplete="off" aria-describedby="number of people" placeholder="number of people">
                      <small id="number of people" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="Start time">Start-time</label>
                        <ejs-datetimepicker></ejs-datetimepicker> 
                                             
                      </div>
                    
                  </form>
            
            </div>
        </div>
      </div>
    </div>
       </div>
        </div>
        
